

header{
	background-image:  url("7.jpeg");
	height:100vh ;
	background-size:center;
	background-position:center;
}
ul a{
	text-decoration: none;
	color:#fff;
	padding:5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease;
}

